* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins";
  scroll-behavior: smooth!important;
}
.normal-width {
  width: 88%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.archive-page {
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: #ede9e5;
}
.archive-page .archive-intro {
  position: relative;
  font-size: 42px;
  text-align: center;
  color: #202124;
  line-height: 150%;
}
.archive-page .archive-intro h1 {
  height: 100%;
  position: absolute;
  top: -40px;
  justify-content: center;
  width: 100%;
  line-height: 100%;
  font-family: 'Poppins-bold';
  text-align: center;
  font-size: 140px;
  color: #1c1c1c14;
  z-index: 0;
}
.archive-page .archive-intro p {
  font-family: "Poppins-semibold";
  max-width: 960px;
  margin: auto;
  position: relative;
}
.archive-page .posts-grid {
  margin-top: 160px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.archive-page .posts-grid .scrolling {
  margin-top: -100px;
}
.archive-page .posts-grid .archive-post-link {
  overflow: hidden;
  border-radius: 24px;
  padding: 18px;
  transition: all ease 0.5s;
  box-sizing: border-box;
  position: relative;
  max-width: 49%;
  min-width: 49%;
  text-decoration: none;
}
.archive-page .posts-grid .archive-post-link:hover .thumb-container {
  transform: translateY(-100px);
  opacity: 0;
}
.archive-page .posts-grid .archive-post-link:hover .thumb-container img {
  filter: blur(4px);
}
.archive-page .posts-grid .archive-post-link:hover .thumb-category {
  opacity: 1;
  height: 100%;
}
.archive-page .posts-grid .archive-post-link:nth-child(2n) {
  margin-top: 100px;
}
.archive-page .posts-grid .archive-post-link .thumb-container {
  position: relative;
  border-radius: 24px;
  display: flex;
  width: 100%;
  overflow: hidden;
  margin: auto;
  transition: all 0.5s ease;
}
.archive-page .posts-grid .archive-post-link .thumb-container img {
  transition: all ease 0.8s;
  width: 100%;
  aspect-ratio: 16/9;
}
.archive-page .posts-grid .archive-post-link .thumb-name {
  position: relative;
  font-size: 32px;
  padding-top: 18px;
  display: flex;
  align-items: center;
  color: #202124;
  font-family: 'Poppins-bold';
  gap: 16px;
}
.archive-page .posts-grid .archive-post-link .thumb-category {
  position: absolute;
  bottom: -24px;
  padding-top: 100%;
  color: #202124;
  display: flex;
  flex-direction: column;
  transition: all ease 0.5s;
  width: 100%;
  opacity: 0;
  height: 0px;
}
.archive-page .posts-grid .archive-post-link .thumb-category .thumb-cat {
  font-size: 24px;
  font-family: 'Poppins-bold';
  color: #202124;
  width: fit-content;
  border-radius: 24px;
  padding: 8px 16px;
  background-color: #ffffff85;
  margin-bottom: 32px;
}
.archive-page .posts-grid .archive-post-link .thumb-category .thumb-excerpt {
  text-transform: none;
  font-size: 20px;
  padding-right: 18px;
}
