@import url('utils.less');

.archive-page{
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: #ede9e5;

    .archive-intro{
        position: relative;
        font-size: 42px;
        text-align: center;
        h1{
            height: 100%;
            position: absolute;
            top: -40px;
            justify-content: center;
            width: 100%;
            line-height: 100%;
            font-family: 'Poppins-bold';
           
            text-align: center;
            font-size: 140px;
            color: #1c1c1c14;
            z-index: 0;
        }
        p{
            font-family: "Poppins-semibold";
            max-width: 960px;
            margin: auto;
            position: relative;
        }
        color: #202124;
        line-height: 150%;    
    }

    .posts-grid{
        margin-top: 160px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        .scrolling{
            margin-top: -100px;
        }

     
        .archive-post-link{
            overflow: hidden;
            border-radius: 24px;
            padding: 18px;
            transition: all ease 0.5s;
            box-sizing: border-box;
            position: relative;
            &:hover{
                .thumb-container{
                    transform: translateY(-100px) ;
                    opacity: 0;
                    img{
                        filter: blur(4px);
                    }
                }
                .thumb-category{
                  opacity: 1;
                  height: 100%;
                }

            
            }
            &:nth-child(2n){
                margin-top: 100px;  
            }


            max-width: 49%;
            min-width: 49%;
            text-decoration: none;
            .thumb-container{
                position: relative;
                border-radius: 24px;
                display: flex;
                width: 100%;
                overflow: hidden;
                margin: auto;
                transition: all 0.5s ease;
                img{
                    transition: all ease 0.8s;    
                    width: 100%;   
                    aspect-ratio: 16/9;
               
                }
            }

            .thumb-name{
                position: relative;
                font-size: 32px;
                padding-top: 18px;
                display: flex;
                align-items: center;
                color: #202124;
                font-family: 'Poppins-bold';
                gap: 16px;
            
            }

            .thumb-category{     
                position: absolute;      
                bottom: -24px;   
                padding-top: 100%;
                color: #202124;
                display: flex;
                flex-direction: column;
                transition: all ease 0.5s;
                width: 100%;
                opacity: 0;
                height: 0px;
                .thumb-cat{
                    font-size: 24px;
                    font-family: 'Poppins-bold';
                    color: #202124;
                    width: fit-content;
                    border-radius: 24px;
                    padding: 8px 16px;
                    background-color: #ffffff85;
                    margin-bottom: 32px;
                }
                .thumb-excerpt{
                    text-transform: none;
                    font-size: 20px;
                    padding-right: 18px;
                }

                .read-more{
                    margin-top: 12px;
                    display: flex;
                    align-content: center;
                    font-size: 24px;
                    font-family: 'Poppins-bold';
                    gap: 12px;
                }
            }   
        }
    }
}