* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins";
  scroll-behavior: smooth!important;
}
.normal-width {
  width: 88%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.footer-container {
  padding-top: 120px;
  background-color: #202124;
  color: #fff;
  padding-bottom: 40px;
  transition: all 0.8s ease;
}
.footer-container .footer-content {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 148px;
  flex-wrap: wrap;
}
.footer-container .footer-content .footer-heading {
  font-size: 32px;
  color: #9d9c9b;
  font-family: 'Poppins-bold';
  line-height: 150%;
  margin-bottom: 32px;
}
.footer-container .footer-content .footer-logo {
  display: block;
  width: 50%;
}
.footer-container .footer-content .footer-logo .foot-logo {
  display: block;
  max-width: 300px;
  width: 100%;
  margin-bottom: 50px;
}
.footer-container .footer-content .footer-logo .foot-logo img {
  width: 100%;
}
.footer-container .footer-content .footer-objects {
  display: flex;
  gap: 100px;
}
.footer-container .footer-content .footer-objects .footer-nav .footer-nav-items ul {
  list-style: none;
}
.footer-container .footer-content .footer-objects .footer-nav .footer-nav-items ul li a {
  font-size: 24px;
  line-height: 150%;
  font-family: 'Poppins-semibold';
  text-decoration: none;
  color: #ddd;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.footer-container .footer-content .footer-objects .footer-nav .footer-nav-items ul li a:after {
  content: '';
  height: 2px;
  width: 0;
  transition: all 0.8s ease;
  background-color: none;
}
.footer-container .footer-content .footer-objects .footer-nav .footer-nav-items ul li a:hover:after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #ddd;
}
.footer-container .footer-content .footer-objects .footer-legal ul {
  list-style: none;
}
.footer-container .footer-content .footer-objects .footer-legal ul li a {
  text-decoration: none;
  font-family: 'Poppins-semibold';
  font-size: 24px;
  line-height: 150%;
  color: #ddd;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.footer-container .footer-content .footer-objects .footer-legal ul li a:after {
  content: '';
  height: 2px;
  width: 0;
  transition: all 0.8s ease;
  background-color: none;
}
.footer-container .footer-content .footer-objects .footer-legal ul li a:hover:after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #ddd;
}
.footer-container .footer-cta {
  width: 100%;
}
.footer-container .footer-cta a {
  font-size: 108px;
  text-decoration: none;
  display: flex;
  font-family: 'Poppins-bold';
  line-height: 100%;
}
