* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins";
  scroll-behavior: smooth!important;
}
.normal-width {
  width: 88%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.footer-container {
  padding-top: 120px;
  background-color: #202124;
  color: #fff;
  padding-bottom: 40px;
}
.footer-container .footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-container .footer-content .footer-nav .footer-nav-items ul {
  list-style: none;
}
.footer-container .footer-content .footer-nav .footer-nav-items ul li a {
  font-size: 32px;
  line-height: 125%;
  font-family: 'Poppins-bold';
  text-decoration: none;
  color: #ddd;
}
.footer-container .footer-content .footer-cta {
  width: 100%;
  overflow: hidden;
  max-width: 720px;
}
.footer-container .footer-content .footer-cta p {
  font-size: 48px;
  line-height: 125%;
  font-family: 'Poppins-bold';
  color: #9d9c9b;
}
.footer-container .footer-content .footer-cta a {
  display: flex;
  align-items: stretch;
  color: #dddddd;
  font-size: 100px;
  line-height: 125%;
  font-family: 'Poppins-bold';
  text-decoration: none;
  transition: all 0.8s ease;
  flex-wrap: wrap;
}
.footer-container .footer-content .footer-cta a span {
  display: flex;
}
.footer-container .footer-content .footer-cta a span img {
  height: 100%;
  width: auto;
  opacity: 0;
  transition: all 0.8s ease;
  transform: translateX(-100%);
}
.footer-container .footer-content .footer-cta a:hover {
  color: #FDE767;
}
.footer-container .footer-content .footer-cta a:hover span img {
  height: 100%;
  width: auto;
  opacity: 1;
  transform: translateX(0);
}
