@import url('utils.less');

header{
    background-color: transparent;
    display: flex;
    width: 100%;
    justify-content: center;
    transition: 0.5s ease all;
    @media(max-width:861px){
        transition: 0.5s ease all;
        justify-content: flex-end;
    }

    .nav-collapse-mobi{
        width: 0px;
        height: 100vh;
        position: fixed;
        transition: 0.5s ease all;
        @media(min-width:860px){
            display: none;
            transition: 0.5s ease all;
        }

        .menu{
           display: none;
           opacity: 0; 
           transition: 0.8s ease all;
        }
        
    }

    .opened{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: #ffffff;
        z-index: 8;
        transition: 0.5s ease all;
        @media(min-width:860px){
            display: none;
        }
        .menu{
            opacity: 1;
            display: flex;
            flex-direction: column;
            width: 88%;
            margin-top: 160px;
            margin-left: auto;
            margin-right: auto;
            list-style: none;
            .menu-item{
                width: 100%;
                a{  display: block;
                    width: 100%;
                    color: #202124;
                    font-size: 24px;
                    font-family: 'Poppins-medium';
                    padding: 16px 0;
                    text-decoration: none;
                    transition: 0.8s all ease;
                   &:hover{
                    color: #878685;
                   }
                }
        
            }

            .current_page_item{
                a{
                    display: flex;
                    flex-direction: column;
                    color: #2021249d;
                    &:after{
                        content: '';
                        height:2px;
                        width: 100%;
                        background-color: #878685;
                        transition: 0.8s all ease;
                    }
                }
           
            }
        }
    }

    .nav-container{
        position: fixed;
        z-index:9!important;
        transition: 0.5s ease all;
        @media(max-width:861px){
            margin-right: 6%;
            transition: 0.5s ease all;
        }
    }
    nav{
        margin-top: 20px;
        background-color: #ffffffd7;
        backdrop-filter: blur(10px);
        -webkit-box-shadow: 0px 5px 47px -21px rgba(77,77,77,0.88);
        -moz-box-shadow: 0px 5px 47px -21px rgba(77,77,77,0.88);
        box-shadow: 0px 5px 47px -21px rgba(77,77,77,0.88);
        display: flex;
        align-items: center;
        align-content: center;
        gap: 20px;
        padding: 18px 18px;
        width: fit-content;
        border-radius: 32px;
        align-items: center;
        font-size: 20px;
        border: none;
       

        .nav-logo{
            width: 40px;
            display: flex;
            img{
                width: 100%;
                height: auto;
            }
        }
        .nav-collapse{
            display: flex;
            gap:10px;
            align-items: center;
            @media(max-width:861px){
            display: none;
            }
        }
    

        .nav-toggle{
            width: 40px;
            height: 31px;
            box-sizing: border-box;
            display: flex;
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition:  0.3s ease all;
            background-image: url(../resources/img/icons/burger.svg);
            @media(min-width:860px){
                display: none;
            }   
        }

        .show-x{
            transition:  0.3s ease all;
            background-image: url(../resources/img/icons/x.svg);
        }

    
        .menu{
            display: flex;
            text-decoration: none;
            list-style: none;
            gap: 10px;
            .menu-item{
                a{
                    padding-left: 8px;
                    padding-right: 8px;
                    text-decoration: none;
                    color: #202124;
                    font-family: 'Poppins-medium';
                    margin: 0;
                    transition: all 0.5s ease;
                    display: flex;
                    flex-direction: column;
                    width: fit-content;
                    &:after{
                        content: '';
                        height:3px;
                        width: 0px;
                        transition: 0.8s all ease;
                    }
                    &:hover{
                    &:after{
                        content: '';
                        height:3px;
                        width: 100%;
                        background-color: #202124;
                    }
                    }

             
                }
              
            }

            .current_page_item{
                a{
                    color: #202124;
                    &:after{
                        content: '';
                        height:3px;
                        width: 100%;
                        background-color: #878685;
                    }
                    
                    &:hover{
                   &:after{
                    &:after{
                        content: '';
                        height:3px;
                        width: 100%;
                        background-color: #202124;
                    }
                   }
                    
                    }
                }
           
            }
        }
    }
}