header{
    background-color: transparent;
    display: flex;
    width: 100%;
    justify-content: center;
    transition: 0.5s ease all;
    @media(max-width:861px){
        transition: 0.5s ease all;
        justify-content: flex-end;
    }

    .nav-collapse-mobi{
        width: 0px;
        height: 100vh;
        position: fixed;
        transition: 0.5s ease all;
        @media(min-width:860px){
            display: none;
            transition: 0.5s ease all;
        }

        .menu{
           display: none;
           opacity: 0; 
           transition: 0.8s ease all;
        }
        
    }

    .opened{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: #e9e9e9;
        z-index: 8;
        transition: 0.5s ease all;
        @media(min-width:860px){
            display: none;
        }
        .menu{
            opacity: 1;
            display: flex;
            flex-direction: column;
            width: 88%;
            margin-top: 160px;
            margin-left: auto;
            margin-right: auto;
            list-style: none;
            .menu-item{
                width: 100%;
                a{  display: block;
                    width: 100%;
                    color: #202124;
                    font-size: 24px;
                    padding: 16px 0;
                    text-decoration: none;
                }
        
            }

            .current_page_item{
                a{
                    color: #2021249d;
                }
           
            }
        }
    }

    .nav-container{
        position: fixed;
        z-index:9!important;
        transition: 0.5s ease all;
        @media(max-width:861px){
            margin-right: 6%;
            transition: 0.5s ease all;
        }
    }
    nav{
        margin-top: 20px;
        
        background-color: #e9e9e9c4;
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        align-content: center;
        gap: 20px;
        padding: 10px 10px;
        width: fit-content;
        border-radius: 24px;
        align-items: center;
        font-size: 16px;
        font-family:"Be Vietnam Pro", sans-serif;
        font-weight: 600;

        .nav-logo{
            width: 40px;
            display: flex;
            img{
                width: 100%;
                height: auto;
            }
        }
        .nav-collapse{
            display: flex;
            gap:10px;
            align-items: center;
            @media(max-width:861px){
            display: none;
            }
        }
    

        .nav-toggle{
            width: 40px;
            height: 31px;
            box-sizing: border-box;
            display: flex;
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: url('data:image/svg+xml,<svg id="Layer_3" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><title>Artboard 111</title><path d="M97.092,36.078H30.908a2.111,2.111,0,0,0,0,4.222H97.092a2.111,2.111,0,0,0,0-4.222Z"/><path d="M97.092,61.889H30.908a2.111,2.111,0,0,0,0,4.222H97.092a2.111,2.111,0,0,0,0-4.222Z"/><path d="M97.092,87.7H30.908a2.111,2.111,0,0,0,0,4.222H97.092a2.111,2.111,0,0,0,0-4.222Z"/></svg>');
            @media(min-width:860px){
                display: none;
            }   
        }

        .show-x{
            background-image: url('data:image/svg+xml,<svg id="Layer_3" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><title>Artboard 101</title><path d="M79.459,48.3a2.11,2.11,0,0,0-2.985,0L64,60.778,51.523,48.3a2.111,2.111,0,1,0-2.985,2.985L61.014,63.763,48.541,76.237a2.111,2.111,0,1,0,2.985,2.985L64,66.748,76.474,79.222a2.111,2.111,0,0,0,2.985-2.985L66.984,63.763,79.459,51.286A2.11,2.11,0,0,0,79.459,48.3Z"/></svg>');
        }

       

        .menu{
            display: flex;
            text-decoration: none;
            list-style: none;
            gap: 10px;
            .menu-item{
                a{
                    padding: 5px 8px;
                    text-decoration: none;
                    color: #202124;
                    border-radius: 24px;
                    transition: all 0.5s ease;
                    &:hover{
                        background-color: #FDE767;
                        border-radius: 24px;
                    }
                }
              
            }

            .current_page_item{
                a{
                    background-color: #202124;
                    color: #fff;
                    border-radius: 24px;
                    &:hover{
                    background-color: #202124;
                    border-radius: 24px;
                    }
                }
           
            }
        }
    }
}