* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins";
  scroll-behavior: smooth!important;
}
.normal-width {
  width: 88%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: transparent;
  display: flex;
  width: 100%;
  justify-content: center;
  transition: 0.5s ease all;
}
@media (max-width: 861px) {
  header {
    transition: 0.5s ease all;
    justify-content: flex-end;
  }
}
header .nav-collapse-mobi {
  width: 0px;
  height: 100vh;
  position: fixed;
  transition: 0.5s ease all;
}
@media (min-width: 860px) {
  header .nav-collapse-mobi {
    display: none;
    transition: 0.5s ease all;
  }
}
header .nav-collapse-mobi .menu {
  display: none;
  opacity: 0;
  transition: 0.8s ease all;
}
header .opened {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #ffffff;
  z-index: 8;
  transition: 0.5s ease all;
}
@media (min-width: 860px) {
  header .opened {
    display: none;
  }
}
header .opened .menu {
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 88%;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
header .opened .menu .menu-item {
  width: 100%;
}
header .opened .menu .menu-item a {
  display: block;
  width: 100%;
  color: #202124;
  font-size: 24px;
  padding: 16px 0;
  text-decoration: none;
}
header .opened .menu .current_page_item a {
  color: #2021249d;
}
header .nav-container {
  position: fixed;
  z-index: 9!important;
  transition: 0.5s ease all;
}
@media (max-width: 861px) {
  header .nav-container {
    margin-right: 6%;
    transition: 0.5s ease all;
  }
}
header nav {
  margin-top: 20px;
  background-color: #ffffff91;
  backdrop-filter: blur(10px);
  display: flex;
  align-content: center;
  gap: 20px;
  padding: 10px 10px;
  width: fit-content;
  border-radius: 24px;
  align-items: center;
  font-size: 18px;
  border: none;
}
header nav .nav-logo {
  width: 40px;
  display: flex;
}
header nav .nav-logo img {
  width: 100%;
  height: auto;
}
header nav .nav-collapse {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 861px) {
  header nav .nav-collapse {
    display: none;
  }
}
header nav .nav-toggle {
  width: 40px;
  height: 31px;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease all;
  background-image: url(../resources/img/icons/burger.svg);
}
@media (min-width: 860px) {
  header nav .nav-toggle {
    display: none;
  }
}
header nav .show-x {
  transition: 0.3s ease all;
  background-image: url(../resources/img/icons/x.svg);
}
header nav .menu {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 10px;
}
header nav .menu .menu-item a {
  padding: 5px 8px;
  text-decoration: none;
  color: #202124;
  border-radius: 24px;
  transition: all 0.5s ease;
}
header nav .menu .menu-item a:hover {
  background-color: #FDE767;
}
header nav .menu .current_page_item a {
  background-color: #e3e3e3;
  color: #202124;
  border-radius: 24px;
}
header nav .menu .current_page_item a:hover {
  background-color: #dfdfdf;
}
