* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins";
  scroll-behavior: smooth!important;
}
.normal-width {
  width: 88%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
article {
  background-color: #ede9e5;
}
.post-header {
  width: 100%;
  color: #202124;
}
.post-header .post-details {
  width: 88%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  margin-bottom: 100px;
}
.post-header .post-details .category-link {
  color: #202124;
  text-decoration: none;
  padding-bottom: 6px;
  font-family: 'Poppins-bold';
  font-size: 20px;
  background-repeat: no-repeat;
  background-color: #1c1c1c14;
  padding: 5px 16px;
  border-radius: 32px;
  transition: 0.3s all ease;
  margin: 0 auto 32px auto;
  display: flex;
  align-items: center;
  width: fit-content;
}
.post-header .post-details .category-link span {
  display: flex;
}
.post-header .post-details h1 {
  font-family: "Poppins-bold";
  margin: 42px auto 0 auto;
  text-align: center;
  font-size: 106px;
  line-height: 110%;
  margin-bottom: 42px;
}
.post-header .post-details .post-excerpt {
  padding-top: 40px;
  font-size: 28px;
  font-family: "Poppins-medium";
  color: #202124;
  line-height: 150%;
  margin: 0 auto 50px auto;
  max-width: 900px;
  text-align: center;
}
.post-thumb {
  width: 88%;
  max-width: 1400px;
  aspect-ratio: 2/1;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  overflow: hidden;
  transition: 0.8s all ease;
  z-index: 1;
}
.post-thumb img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 0;
}
.big-thumb {
  width: 100%;
  max-width: 100%;
  transition: 0.8s all ease;
  border-radius: 0;
}
.post-content {
  padding-top: 100px;
  padding-bottom: 100px;
}
.post-content .post {
  font-size: 24px;
}
.post-content .post p {
  margin: auto;
  color: #202124;
  font-family: 'Poppins-medium';
  max-width: 800px;
  width: 88%;
}
.post-tags ul {
  margin-top: 60px;
  display: flex;
  list-style: none;
  gap: 20px;
}
.post-tags ul li {
  text-decoration: none;
}
.post-tags ul li a {
  color: #202124;
  text-decoration: none;
  font-family: 'Poppins-medium';
  border: solid 2px #1c1c1c32;
  padding: 10px;
  border-radius: 32px;
  transition: 0.3s all ease;
}
.post-tags ul li a:hover {
  border-color: #202124;
}
