@import url('utils.less');

article{
    background-color: #ede9e5;
    
}
.post-header{
    width: 100%;
 
    color: #202124;


    .post-details{
        width: 88%;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 240px;
        margin-bottom: 100px;

        .category-link{
            color: #202124;
            text-decoration: none;
            padding-bottom: 6px;
            font-family: 'Poppins-bold';
            font-size: 20px;       
            background-repeat: no-repeat;
            background-color: #1c1c1c14;
            padding: 5px 16px;
            border-radius: 32px;
            transition: 0.3s all ease;
            margin-bottom: 32px;
            display: flex;
            align-items: center;
            width: fit-content;
            span{
                display: flex;
            }
        }

        h1{
            font-family: "Poppins-semibold";
            margin-top: 42px;
            font-size: 106px;
            line-height: 110%;
           
            margin-bottom: 42px;
            
        }

        .post-excerpt{
            border-top: #202124 solid 3px;
            padding-top: 50px;
            font-size: 28px;
            font-family: "Poppins-medium";
            color: #202124;
            line-height: 150%;
            margin-bottom: 50px;
            
        }

    }
    
}

.post-thumb{
    width: 88%;
    max-width: 1400px;
    aspect-ratio: 2/1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    overflow: hidden;
    transition: 0.8s all ease;
    z-index: 1;
    
   
img{
 
    width: 100%;
    object-fit: cover;
    margin-bottom: 0;
}
}

.big-thumb{
    width: 100%;
    max-width: 100%;
    transition: 0.8s all ease;
    border-radius: 0;
}
.post-content{
    padding-top: 100px;
    padding-bottom: 100px;


    .post{
        font-size: 24px;
     
       
        p{
            margin:auto;
            color: #202124;
            font-family: 'Poppins-medium';
            max-width: 800px;
            width: 88%;
        }
    }


}

.post-tags{
    ul{
        margin-top: 60px;
        display: flex;
        list-style: none;
        gap:20px;
        li{
            text-decoration: none;
            
            a{
                color: #202124;
                text-decoration: none;
                font-family: 'Poppins-medium';
                border: solid 2px #1c1c1c32;;
                padding: 10px;
                border-radius: 32px;
                transition: 0.3s all ease;
                &:hover{
                  
                    border-color: #202124;
                }
   
            }

        }
    }
}